language: php
php:
  - 7.1
  - 7.2
before_install:
  - sudo pip install codecov
before_script:
  - composer install --dev
script:
  - phpunit --coverage-clover=coverage.xml
after_success:
  - codecov
